@import 'tailwindcss';
@import '../lib/ui/theme/theme.css';

body {
  background: var(--color-black-medium);
  background-attachment: fixed;
  background-image: url('/images/bird.svg');
  background-position: 120% center;
  background-repeat: no-repeat;
  background-size: 133%;
  color: var(--color-white);
  font-family: var(--font-body);
  min-height: 100dvh;
}

::-webkit-scrollbar {
  border-radius: 1;
  width: 2px;
}

::-webkit-scrollbar-track {
  background: var(--color-black-medium);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-dark);
  border-radius: 1;
}
